<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]><html class="ie ie6 ie-lte9 ie-lte8 ie-lte7 no-js" lang="{{=T.accepted_language or 'en'}}"> <![endif]-->
<!--[if IE 7]><html class="ie ie7 ie-lte9 ie-lte8 ie-lte7 no-js" lang="{{=T.accepted_language or 'en'}}"> <![endif]-->
<!--[if IE 8]><html class="ie ie8 ie-lte9 ie-lte8 no-js" lang="{{=T.accepted_language or 'en'}}"> <![endif]-->
<!--[if IE 9]><html class="ie9 ie-lte9 no-js" lang="{{=T.accepted_language or 'en'}}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{=T.accepted_language or 'en'}}"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <!-- www.phpied.com/conditional-comments-block-downloads/ -->
  <!-- Always force latest IE rendering engine
       (even in intranet) & Chrome Frame
       Remove this if you use the .htaccess -->
  <!--[if IE]>
      <meta http-equiv="X-UA-Compatible" content="IE=edge{{=not request.is_local and ',chrome=1' or ''}}">
      <![endif]-->

  <title>{{=response.title or request.application}}</title>

  <!-- http://dev.w3.org/html5/markup/meta.name.html -->
  <meta name="application-name" content="{{=request.application}}" />

  <!-- Speaking of Google, don't forget to set your site up:
       http://google.com/webmasters -->
  <meta name="google-site-verification" content="" />

  <!--  Mobile Viewport Fix
        j.mp/mobileviewport & davidbcalhoun.com/2010/viewport-metatag
        device-width: Occupy full width of the screen in its current orientation
        initial-scale = 1.0 retains dimensions instead of zooming out if page height > device height
        user-scalable = yes allows the user to zoom in -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="shortcut icon" href="{{=URL('static','images/favicon.ico')}}" type="image/x-icon">
  <link rel="apple-touch-icon" href="{{=URL('static','images/favicon.png')}}">

  <!-- All JavaScript at the bottom, except for Modernizr which enables
       HTML5 elements & feature detects -->
  <script src="{{=URL('static','js/modernizr.custom.js')}}"></script>

  <!-- include stylesheets -->
  {{  
  response.files.append(URL('static','css/web2py.css'))
  response.files.append(URL('static','css/bootstrap.min.css'))
  response.files.append(URL('static','css/bootstrap-responsive.min.css'))
  response.files.append(URL('static','css/web2py_bootstrap.css'))
  }}

  {{
  response.files.append(URL('static','js/jquery.tooltip.min.js'))
  response.files.append(URL('static','css/jquery.tooltip.css'))
  }}
  {{include 'web2py_ajax.html'}}

  {{
  # using sidebars need to know what sidebar you want to use
  left_sidebar_enabled = globals().get('left_sidebar_enabled',False)
  right_sidebar_enabled = globals().get('right_sidebar_enabled',False)
  middle_columns = {0:'span12',1:'span9',2:'span6'}[
    (left_sidebar_enabled and 1 or 0)+(right_sidebar_enabled and 1 or 0)]
  }}

  <!-- uncomment here to load jquery-ui
       <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/base/jquery-ui.css" type="text/css" media="all" />
       <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>
       uncomment to load jquery-ui //-->
  <noscript><link href="{{=URL('static', 'css/web2py_bootstrap_nojs.css')}}" rel="stylesheet" type="text/css" /></noscript>
  <script src="http://maps.google.com/maps/api/js?v=3.6&amp;sensor=false"></script>
  <script src="http://openlayers.org/dev/OpenLayers.js"></script>
  <script src="http://mercatorlab.com/proj4js/lib/proj4js-compressed.js"></script>
  <!--
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js" type="text/javascript"></script>
  -->
  <script src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.9/jquery-ui.min.js" type="text/javascript"></script>
  <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>

    <script type="text/javascript">
        Proj4js.defs["EPSG:32718"] = "+proj=utm +zone=18 +south +ellps=WGS84 +datum=WGS84 +units=m +no_defs";
        var wgs84Projection = new OpenLayers.Projection("EPSG:4326");
        var sphericalMProjection = new OpenLayers.Projection("EPSG:900913");
        var utmProjection = new OpenLayers.Projection("EPSG:32718"); 
        var lon = -75.88400,
            lat = -8.0078125,
            zoom = 8;

        var styles = new OpenLayers.StyleMap({
            "default": {
                strokeWidth: 2
            },
            "select": {
                strokeColor: "#0099cc",
                strokeWidth: 4
            }
        });
        
        var maxZoom = 19;
        var minZoom = 7;

        function init(){
            var map = new OpenLayers.Map('map', {
                units: 'm',
                numZoomLevels: 19,
                controls: [
                    new OpenLayers.Control.Graticule({
                        numPoints: 2, 
                        //labelled: true,
                        visible: false,
                        layerName: 'Rejilla',
                        displayInLayerSwitcher: true
                    }),
                    //new OpenLayers.Control.PanZoomBar(),
                    new OpenLayers.Control.PanZoom(),
                    new OpenLayers.Control.Navigation(),
                    new OpenLayers.Control.ScaleLine(),
                    //new OpenLayers.Control.MousePosition(),
                    //new OpenLayers.Control.LayerSwitcher()
                ],
                //allOverlays: true,
                maxScale: 10000000, 
                projection: sphericalMProjection,
                displayProjection: wgs84Projection //Is used for displaying coordinates in appropriate CRS by MousePosition control
            });

            //map.addControl(new OpenLayers.Control.PanZoom());
            map.addControl(new OpenLayers.Control.KeyboardDefaults());
            //var ctrlNav = new OpenLayers.Control.Navigation();
            //ctrlNav.zoomWheelEnabled = false;
            //map.addControl(ctrlNav);
            map.addControl(new OpenLayers.Control.LayerSwitcher( {title: 'View Layers'} ));
            //map.addControl(new OpenLayers.Control.ScaleLine());
            var ctrl = new OpenLayers.Control.MousePosition();
            ctrl.displayProjection = utmProjection;
            map.addControl(ctrl);

            var google_sat_layer = new OpenLayers.Layer.Google('Google Satelite', {
                type: google.maps.MapTypeId.SATELLITE,
                visibility: false,
                sphericalMercator: true
            });

            var google_ter_layer = new OpenLayers.Layer.Google('Google Physical', {
                type: google.maps.MapTypeId.TERRAIN,
                visibility: false,
                sphericalMercator: true
            });

            var google_hib_layer = new OpenLayers.Layer.Google('Google Hibrid', {
                type: google.maps.MapTypeId.HYBRID,
                visibility: false,
                sphericalMercator: true
            });
            //var lay_osm = new OpenLayers.Layer.Google('OSM');

            var bing_aer_layer = new OpenLayers.Layer.Bing({
                name: "Bing Aerial Layer",
                type: "Aerial",
                key: "AuWxq-E5tYJ_crQikiGqG8uXU7z7ANMLkCjr6UcJnaKRZAPmxdNwhD4UX2GEJTKq",
            });

            var centros_poblados = new OpenLayers.Layer.Vector("Centros Poblados", {
                projection: utmProjection,
                displayProjection : wgs84Projection,
                visibility: false,
                strategies: [new OpenLayers.Strategy.Fixed()],
                protocol: new OpenLayers.Protocol.HTTP({
                    url: "data/centros_poblados.geojson",
                    format: new OpenLayers.Format.GeoJSON()
                })
            });

            geojsonParser = new OpenLayers.Format.GeoJSON();
            //centros_poblados.addFeatures(geojsonParser.read("data/centros_poblados.geojson"));

            var pncaz = new OpenLayers.Layer.Vector("PNCAZ", {
                projection: utmProjection,
                displayProjection : wgs84Projection,
                visibility: false,
                isBaseLayer:true,
                isVector:true,
                sphericalMercator: true,
                strategies: [new OpenLayers.Strategy.Fixed()],
                //strategies: [new OpenLayers.Strategy.BBOX()],
                protocol: new OpenLayers.Protocol.HTTP({
                    url: "data/pncaz.geojson",
                    format: new OpenLayers.Format.GeoJSON()
                }),
                //styleMap: styles
            });



            //var pncaz = new OpenLayers.Layer.Vector('PNCAZ', {
                //strategies:[new OpenLayers.Strategy.BBOX()],
                //isBaseLayer:true,
            //    visibility: false,
            //    projection:utmProjection,
            //    displayProjection : wgs84Projection,
                //sphericalMercator: true,
                //styleMap:new OpenLayers.StyleMap(null),
                //transitionEffect:'resize',
            //    protocol:new OpenLayers.Protocol.HTTP({
            //        url: "data/pncaz.geojson",
            //        format:new OpenLayers.Format.GeoJSON({
                        //ignoreExtraDims:true
            //        }),
                    //readWithPOST:false,
                    //updateWithPOST:false,
                    //srsInBBOX:true
            //    })
            //});

            

            var caminos = new OpenLayers.Layer.Vector("Caminos Alt", {
                projection: utmProjection,
                displayProjection : wgs84Projection,
                visibility: false,
                strategies: [new OpenLayers.Strategy.Fixed()],
                protocol: new OpenLayers.Protocol.HTTP({
                    url: "data/amortiguamiento.geojson",
                    format: new OpenLayers.Format.GeoJSON()
                })
            });

            var zonificacion = new OpenLayers.Layer.Vector("Zonificacion PNCAZ", {
                projection: utmProjection,
                displayProjection : wgs84Projection,
                visibility: false,
                strategies: [new OpenLayers.Strategy.Fixed()],
                protocol: new OpenLayers.Protocol.HTTP({
                    url: "data/amortiguamiento.geojson",
                    format: new OpenLayers.Format.GeoJSON()
                }),
                //styleMap: styles
            });

            var amortiguamiento = new OpenLayers.Layer.Vector("Zona de Amortiguamiento", {
                projection: utmProjection,
                displayProjection : wgs84Projection,
                visibility: false,
                strategies: [new OpenLayers.Strategy.Fixed()],
                protocol: new OpenLayers.Protocol.HTTP({
                    url: "data/amortiguamiento.geojson",
                    format: new OpenLayers.Format.GeoJSON()
                })
            });

            var cuencas = new OpenLayers.Layer.Vector("Cuencas", {
                projection: utmProjection,
                displayProjection : wgs84Projection,
                visibility: false,
                strategies: [new OpenLayers.Strategy.Fixed()],
                protocol: new OpenLayers.Protocol.HTTP({
                    url: "data/cuencas.geojson",
                    format: new OpenLayers.Format.GeoJSON()
                })
            });

            var hidrografia_polis = new OpenLayers.Layer.Vector("Hidrografia Polis", {
                projection: utmProjection,
                displayProjection : wgs84Projection,
                visibility: false,
                strategies: [new OpenLayers.Strategy.Fixed()],
                protocol: new OpenLayers.Protocol.HTTP({
                    url: "data/cuencas.geojson",
                    format: new OpenLayers.Format.GeoJSON()
                })
            });

            var vias = new OpenLayers.Layer.Vector("Vias", {
                projection: utmProjection,
                displayProjection : wgs84Projection,
                visibility: false,
                strategies: [new OpenLayers.Strategy.Fixed()],
                protocol: new OpenLayers.Protocol.HTTP({
                    url: "data/cuencas.geojson",
                    format: new OpenLayers.Format.GeoJSON()
                })
            });

            var vegetacion = new OpenLayers.Layer.Vector("Vegetacion", {
                projection: utmProjection,
                displayProjection : wgs84Projection,
                visibility: false,
                strategies: [new OpenLayers.Strategy.Fixed()],
                protocol: new OpenLayers.Protocol.HTTP({
                    url: "data/cuencas.geojson",
                    format: new OpenLayers.Format.GeoJSON()
                })
            });

            var altitud = new OpenLayers.Layer.Vector("Altitud", {
                projection: utmProjection,
                displayProjection : wgs84Projection,
                visibility: false,
                strategies: [new OpenLayers.Strategy.Fixed()],
                protocol: new OpenLayers.Protocol.HTTP({
                    url: "data/cuencas.geojson",
                    format: new OpenLayers.Format.GeoJSON()
                })
            });
//COPIAR AQUI
            var hidrografia_lineas = new OpenLayers.Layer.Vector("Hidrografia Lineas", {
                projection: utmProjection,
                displayProjection : wgs84Projection,
                visibility: false,
                strategies: [new OpenLayers.Strategy.Fixed()],
                protocol: new OpenLayers.Protocol.HTTP({
                    url: "data/hidro_linea.geojson",
                    format: new OpenLayers.Format.GeoJSON()
                })
            });
//HASTA AQUI
            var hidrografia_lineas = new OpenLayers.Layer.Vector("Vegetacion Poligonos", {
                projection: utmProjection,
                displayProjection : wgs84Projection,
                visibility: false,
                strategies: [new OpenLayers.Strategy.Fixed()],
                protocol: new OpenLayers.Protocol.HTTP({
                    url: "data/vegetacion.geojson",
                    format: new OpenLayers.Format.GeoJSON()
                })
            });
//PEGAR AQUI
//            var caminos = new OpenLayers.Layer.Vector("Caminos", {
//                strategies: [new OpenLayers.Strategy.Fixed()],                
//                protocol: new OpenLayers.Protocol.HTTP({
//                    url: "data/roads.json",
//                    format: new OpenLayers.Format.GeoJSON()
//                }),
//                styleMap: styles
//            });

            for(var i=0; i < centros_poblados.features.length; i++){
                console.log(centros_poblados.features[i].attributes.test);
            }
            map.addLayers([google_sat_layer, google_ter_layer, google_hib_layer, bing_aer_layer, pncaz, 
                centros_poblados, caminos, zonificacion,
                amortiguamiento, cuencas, hidrografia_polis,
                vias, vegetacion, altitud, hidrografia_lineas]);

            map.setCenter(new OpenLayers.LonLat(lon, lat).transform(wgs84Projection, sphericalMProjection), zoom);


            //map.setCenter(new OpenLayers.LonLat(lon, lat).transform(wgs84Projection, utmProjection), zoom);

            
            //map.events.register("moveend", this, function (e) {
            //    centros_poblados.refresh({force:true});
            //});
        }
    </script>
  {{block head}}{{end}}

</head>

<body>
  <!-- Navbar ================================================== -->
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="flash">{{=response.flash or ''}}</div>
    <div class="navbar-inner">
      <div class="container">
        <!-- the next tag is necessary for bootstrap menus, do not remove -->
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
	{{=response.logo or ''}}
        <ul id="navbar" class="nav pull-right">{{='auth' in globals() and auth.navbar(mode="dropdown") or ''}}</ul>
        <div class="nav-collapse">
          {{is_mobile=request.user_agent().is_mobile}}
          {{if response.menu:}}
          {{=MENU(response.menu, _class='mobile-menu nav' if is_mobile else 'nav',mobile=is_mobile,li_class='dropdown',ul_class='dropdown-menu')}}
          {{pass}}
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div><!--/top navbar -->

  <div class="container">
    <!-- Masthead ================================================== -->
    <header class="mastheader row" id="header">

    </header>
<div id="map" class="smallmap"></div>
<script>init();</script>
    <section id="main" class="main row">
        {{if left_sidebar_enabled:}}
        <div class="span3 left-sidebar">
            {{block left_sidebar}}
            <h3>Left Sidebar</h3>
            <p></p>
            {{end}}
        </div>
        {{pass}}

        <div class="{{=middle_columns}}">
            {{block center}}
            {{include}}
            {{end}}
        </div>

        {{if right_sidebar_enabled:}}
        <div class="span3">
            {{block right_sidebar}}
            <h3>Right Sidebar</h3>
            <p></p>
            {{end}}
        </div>
        {{pass}}
    </section><!--/main-->

    <!-- Footer ================================================== -->
    <div class="row">
        <footer class="footer span12" id="footer">
            <div class="footer-content">
                {{block footer}} <!-- this is default footer -->
                <div class="copyright pull-left">{{=T('Copyright')}} &#169; {{=request.now.year}}</div>
                <div id="poweredBy" class="pull-right">
                    {{=T('Powered by')}}
                    <a href="http://www.web2py.com/">web2py</a>
                </div>
                {{end}}
            </div>
        </footer>
    </div>

  </div> <!-- /container -->

  <!-- The javascript =============================================
       (Placed at the end of the document so the pages load faster) -->
  <script src="{{=URL('static','js/bootstrap.min.js')}}"></script>
  <script src="{{=URL('static','js/web2py_bootstrap.js')}}"></script>
  <!--[if lt IE 7 ]>
      <script src="{{=URL('static','js/dd_belatedpng.js')}}"></script>
      <script> DD_belatedPNG.fix('img, .png_bg'); //fix any <img> or .png_bg background-images </script>
      <![endif]-->
  
  {{if response.google_analytics_id:}}
  <script src="{{=URL('static','js/analytics.js')}}"></script>
  <script type="text/javascript">
  analytics.initialize({
    'Google Analytics':{trackingId:'{{=response.google_analytics_id}}'} 
  });</script>
  {{pass}}
  <script src="{{=URL('static','js/share.js',vars=dict(static=URL('static','images')))}}"></script>
</body>
</html>

