<!DOCTYPE html>
<html>
{{='dgsdghsh'}}
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <script src="http://openlayers.org/dev/OpenLayers.js"></script>>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js" type="text/javascript"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.9/jquery-ui.min.js" type="text/javascript"></script>
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
    <script src="http://maps.google.com/maps/api/js?v=3.6&amp;sensor=false"></script>
    <script src="http://mercatorlab.com/proj4js/lib/proj4js-compressed.js"></script>
    <script type="text/javascript">
        Proj4js.defs["EPSG:32718"] = "+proj=utm +zone=18 +south +ellps=WGS84 +datum=WGS84 +units=m +no_defs";
        var wgs84Projection = new OpenLayers.Projection("EPSG:4326");
        var sphericalMProjection = new OpenLayers.Projection("EPSG:900913");
        var utmProjection = new OpenLayers.Projection("EPSG:32718"); 
        var lon = -75.88400,
            lat = -8.0078125,
            zoom = 8;

        var styles = new OpenLayers.StyleMap({
            "default": {
                strokeWidth: 2
            },
            "select": {
                strokeColor: "#0099cc",
                strokeWidth: 4
            }
        });

        function init(){
            var map = new OpenLayers.Map('map', {
                units: 'm',
                numZoomLevels: 19,
                controls: [
                    new OpenLayers.Control.Graticule({
                        numPoints: 2, 
                        //labelled: true,
                        visible: false,
                        layerName: 'Rejilla',
                        displayInLayerSwitcher: true
                    }),
                    //new OpenLayers.Control.PanZoomBar(),
                    new OpenLayers.Control.PanZoom(),
                    new OpenLayers.Control.Navigation(),
                    new OpenLayers.Control.ScaleLine(),
                    //new OpenLayers.Control.MousePosition(),
                    //new OpenLayers.Control.LayerSwitcher()
                ],
                //allOverlays: true,
                maxScale: 10000000, 
                projection: sphericalMProjection,
                displayProjection: wgs84Projection //Is used for displaying coordinates in appropriate CRS by MousePosition control
            });

            //map.addControl(new OpenLayers.Control.PanZoom());
            map.addControl(new OpenLayers.Control.KeyboardDefaults());
            //var ctrlNav = new OpenLayers.Control.Navigation();
            //ctrlNav.zoomWheelEnabled = false;
            //map.addControl(ctrlNav);
            map.addControl(new OpenLayers.Control.LayerSwitcher( {title: 'View Layers'} ));
            //map.addControl(new OpenLayers.Control.ScaleLine());
            var ctrl = new OpenLayers.Control.MousePosition();
            ctrl.displayProjection = utmProjection;
            map.addControl(ctrl);

            var google_sat_layer = new OpenLayers.Layer.Google('Google Satelite', {
                type: google.maps.MapTypeId.SATELLITE,
                visibility: false,
                sphericalMercator: true
            });

            var google_ter_layer = new OpenLayers.Layer.Google('Google Physical', {
                type: google.maps.MapTypeId.TERRAIN,
                visibility: false,
                sphericalMercator: true
            });

            var google_hib_layer = new OpenLayers.Layer.Google('Google Hibrid', {
                type: google.maps.MapTypeId.HYBRID,
                visibility: false,
                sphericalMercator: true
            });
            //var lay_osm = new OpenLayers.Layer.Google('OSM');

            var bing_aer_layer = new OpenLayers.Layer.Bing({
                name: "Bing Aerial Layer",
                type: "Aerial",
                key: "AuWxq-E5tYJ_crQikiGqG8uXU7z7ANMLkCjr6UcJnaKRZAPmxdNwhD4UX2GEJTKq",
            });

            var centros_poblados = new OpenLayers.Layer.Vector("Centros Poblados", {
                projection: utmProjection,
                displayProjection : wgs84Projection,
                visibility: false,
                strategies: [new OpenLayers.Strategy.Fixed()],
                protocol: new OpenLayers.Protocol.HTTP({
                    url: "data/centros_poblados.geojson",
                    format: new OpenLayers.Format.GeoJSON()
                })
            });

            geojsonParser = new OpenLayers.Format.GeoJSON();
            //centros_poblados.addFeatures(geojsonParser.read("data/centros_poblados.geojson"));

            var pncaz = new OpenLayers.Layer.Vector("PNCAZ", {
                projection: utmProjection,
                displayProjection : wgs84Projection,
                visibility: false,
                isBaseLayer:true,
                isVector:true,
                sphericalMercator: true,
                strategies: [new OpenLayers.Strategy.Fixed()],
                //strategies: [new OpenLayers.Strategy.BBOX()],
                protocol: new OpenLayers.Protocol.HTTP({
                    url: "data/pncaz.geojson",
                    format: new OpenLayers.Format.GeoJSON()
                }),
                //styleMap: styles
            });



            //var pncaz = new OpenLayers.Layer.Vector('PNCAZ', {
                //strategies:[new OpenLayers.Strategy.BBOX()],
                //isBaseLayer:true,
            //    visibility: false,
            //    projection:utmProjection,
            //    displayProjection : wgs84Projection,
                //sphericalMercator: true,
                //styleMap:new OpenLayers.StyleMap(null),
                //transitionEffect:'resize',
            //    protocol:new OpenLayers.Protocol.HTTP({
            //        url: "data/pncaz.geojson",
            //        format:new OpenLayers.Format.GeoJSON({
                        //ignoreExtraDims:true
            //        }),
                    //readWithPOST:false,
                    //updateWithPOST:false,
                    //srsInBBOX:true
            //    })
            //});

            

            var caminos = new OpenLayers.Layer.Vector("Caminos Alt", {
                projection: utmProjection,
                displayProjection : wgs84Projection,
                visibility: false,
                strategies: [new OpenLayers.Strategy.Fixed()],
                protocol: new OpenLayers.Protocol.HTTP({
                    url: "data/amortiguamiento.geojson",
                    format: new OpenLayers.Format.GeoJSON()
                })
            });

            var zonificacion = new OpenLayers.Layer.Vector("Zonificacion PNCAZ", {
                projection: utmProjection,
                displayProjection : wgs84Projection,
                visibility: false,
                strategies: [new OpenLayers.Strategy.Fixed()],
                protocol: new OpenLayers.Protocol.HTTP({
                    url: "data/amortiguamiento.geojson",
                    format: new OpenLayers.Format.GeoJSON()
                }),
                //styleMap: styles
            });

            var amortiguamiento = new OpenLayers.Layer.Vector("Zona de Amortiguamiento", {
                projection: utmProjection,
                displayProjection : wgs84Projection,
                visibility: false,
                strategies: [new OpenLayers.Strategy.Fixed()],
                protocol: new OpenLayers.Protocol.HTTP({
                    url: "data/amortiguamiento.geojson",
                    format: new OpenLayers.Format.GeoJSON()
                })
            });

            var cuencas = new OpenLayers.Layer.Vector("Cuencas", {
                projection: utmProjection,
                displayProjection : wgs84Projection,
                visibility: false,
                strategies: [new OpenLayers.Strategy.Fixed()],
                protocol: new OpenLayers.Protocol.HTTP({
                    url: "data/cuencas.geojson",
                    format: new OpenLayers.Format.GeoJSON()
                })
            });

            var hidrografia_polis = new OpenLayers.Layer.Vector("Hidrografia Polis", {
                projection: utmProjection,
                displayProjection : wgs84Projection,
                visibility: false,
                strategies: [new OpenLayers.Strategy.Fixed()],
                protocol: new OpenLayers.Protocol.HTTP({
                    url: "data/cuencas.geojson",
                    format: new OpenLayers.Format.GeoJSON()
                })
            });

            var vias = new OpenLayers.Layer.Vector("Vias", {
                projection: utmProjection,
                displayProjection : wgs84Projection,
                visibility: false,
                strategies: [new OpenLayers.Strategy.Fixed()],
                protocol: new OpenLayers.Protocol.HTTP({
                    url: "data/cuencas.geojson",
                    format: new OpenLayers.Format.GeoJSON()
                })
            });

            var vegetacion = new OpenLayers.Layer.Vector("Vegetacion", {
                projection: utmProjection,
                displayProjection : wgs84Projection,
                visibility: false,
                strategies: [new OpenLayers.Strategy.Fixed()],
                protocol: new OpenLayers.Protocol.HTTP({
                    url: "data/cuencas.geojson",
                    format: new OpenLayers.Format.GeoJSON()
                })
            });

            var altitud = new OpenLayers.Layer.Vector("Altitud", {
                projection: utmProjection,
                displayProjection : wgs84Projection,
                visibility: false,
                strategies: [new OpenLayers.Strategy.Fixed()],
                protocol: new OpenLayers.Protocol.HTTP({
                    url: "data/cuencas.geojson",
                    format: new OpenLayers.Format.GeoJSON()
                })
            });
//COPIAR AQUI
            var hidrografia_lineas = new OpenLayers.Layer.Vector("Hidrografia Lineas", {
                projection: utmProjection,
                displayProjection : wgs84Projection,
                visibility: false,
                strategies: [new OpenLayers.Strategy.Fixed()],
                protocol: new OpenLayers.Protocol.HTTP({
                    url: "data/hidro_linea.geojson",
                    format: new OpenLayers.Format.GeoJSON()
                })
            });
//HASTA AQUI
            var hidrografia_lineas = new OpenLayers.Layer.Vector("Vegetacion Poligonos", {
                projection: utmProjection,
                displayProjection : wgs84Projection,
                visibility: false,
                strategies: [new OpenLayers.Strategy.Fixed()],
                protocol: new OpenLayers.Protocol.HTTP({
                    url: "data/vegetacion.geojson",
                    format: new OpenLayers.Format.GeoJSON()
                })
            });
//PEGAR AQUI
//            var caminos = new OpenLayers.Layer.Vector("Caminos", {
//                strategies: [new OpenLayers.Strategy.Fixed()],                
//                protocol: new OpenLayers.Protocol.HTTP({
//                    url: "data/roads.json",
//                    format: new OpenLayers.Format.GeoJSON()
//                }),
//                styleMap: styles
//            });

            for(var i=0; i < centros_poblados.features.length; i++){
                console.log(centros_poblados.features[i].attributes.test);
            }


            map.addLayers([google_sat_layer, google_ter_layer, google_hib_layer, bing_aer_layer, pncaz, 
                centros_poblados, caminos, zonificacion,
                amortiguamiento, cuencas, hidrografia_polis,
                vias, vegetacion, altitud, hidrografia_lineas]);

            map.setCenter(new OpenLayers.LonLat(lon, lat).transform(wgs84Projection, sphericalMProjection), zoom);


            //map.setCenter(new OpenLayers.LonLat(lon, lat).transform(wgs84Projection, utmProjection), zoom);

            
            //map.events.register("moveend", this, function (e) {
            //    centros_poblados.refresh({force:true});
            //});
        }
    </script>
    <style type="text/css">
    .layersDiv {background-color: #0000ff;}
    </style>
  </head>
  <body onload="init()">
    <div id="map" style="position: absolute; right: 0px; top: 0px; width: 100%; height: 100%"></div>
  </body>
</html>
