{{extend 'layout_auxiliar.html'}}

<h2>Reportes de Estudios / Investigaciones.</h2>

{{=form.custom.begin}}
<table border=0>
<tr>
<td>Proyecto:</td><td>{{=form.custom.widget.project_id}}</td>
<td>Lugar:</td><td>{{=form.custom.widget.place_id}}</td>
<td>Topico:</td><td>{{=form.custom.widget.topic_id}}</td>
<td>PDF:</td><td>{{=form.custom.widget.pdf}}</td>
<td>{{=form.custom.submit}}</td>
</tr>
</table>
{{=form.custom.end}}

{{if project_name:}}
<h2>{{=project_name}}</h2></br>
<h3>{{=project_description}}</h3>
{{pass}}
{{if place_name:}}
{{ncoord = place_coords.split(',')}}
{{if len(ncoord) > 1:}}
{{f_url = 'map?zoom=14&lon=%s&lat=%s&origin=utm' % (ncoord[0].strip(), ncoord[1].strip())}}
{{else:}}
{{f_url = 'map'}}
{{pass}}
<h2>
{{=A(place_name, _href=URL('gis', f_url), _target="_blank")}}
</h2></br>
{{pass}}

<ul>
{{for elem in tree_base:}}
{{key_data = elem.keys()[0]}}
{{value_data = elem.values()[0]}}
{{if topic_mode:}}
{{if key_data == topic_id:}}
<li><strong>{{=value_data}}</strong></li>
{{key_data = topic_id}}
{{else:}}
{{key_data = ''}}
{{pass}}
{{else:}}
<li><strong>{{=value_data}}</strong></li>
{{pass}}
{{if key_data in tree_data:}}
<ol type='1'>
{{for part in tree_data[key_data]:}}
{{if part[0] in data_val:}}
<li>{{=part[1]}}</li>
{{components = data_val[part[0]]}}
{{for reply in components:}}
{{if len(reply[3]) > 0:}}
<table border=2>
<tr>
<td>{{=reply[0]}}<br>
{{if reply[1] is not None:}}
{{=reply[1]}}
{{pass}}
</td>
{{if reply[2] is not None:}}
<td>{{=reply[2]}}</td>
{{pass}}
{{space=reply[3].split('|')}}
{{heads=[]}}
{{if part[2] is not None:}}
{{heads=part[2].split('|')}}
{{pass}}
{{else:}}
{{space=[]}}
{{heads=[]}}
{{pass}}
<td>
<table border=1>
<tr>
{{for head in heads:}}
<td>
<tr>
{{for head_part in head.split('#'):}}
<td><strong>{{=head_part}}</strong></td>
{{pass}}
</tr>
</td>
{{pass}}
</tr>
<tr>
{{for field in space:}}
<td>
<tr>
{{for field_part in field.split('#'):}}
<td>{{=field_part}}</td>
{{pass}}
</tr>
</td>
{{pass}}
</tr>
</table>
</td>
{{if reply[4] is not None:}}
{{try:}}
<td>{{=A(db.contents[reply[4]].name, _href=URL('show', args=db.contents[reply[4]].id), _target="_blank")}}</td>
{{except:}}
<td></td>
{{pass}}
{{pass}}
</tr>
</table>
{{pass}}
{{pass}}
{{pass}}
</ol>
{{pass}}

{{pass}}
</ul>

<script>
$(document).ready(function(){
   $('#no_table_project_id.generic-widget').change(function() {
       $('form').submit()
   });
});
</script>
